<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="namoo.board.mapper.PostingMapper">
	<insert id="insertPost" parameterType="Posting">
		INSERT INTO posting(postingId,title,authorName,regDate,contents,boardId)
		VALUES(#{postingId},#{title},#{authorName},#{regDate},#{contents},#{boardId})
	</insert>

	<select id="selectPosting" parameterType="String" resultType="Posting">
		SELECT * FROM posting WHERE postingId=#{postingId}
	</select>
	
	<select id="selectAllPosting" parameterType="String" resultType="Posting">
		SELECT * FROM posting WHERE boardId=#{boardId}
	</select>
	
	<update id="updatePosting" parameterType="Posting">
		UPDATE posting 
		SET title = #{title}, contents = #{contents} 
		WHERE postingId = #{postingId} 
	</update>
	
	<delete id="deletePosting" parameterType="String">
		DELETE FROM posting WHERE postingId=#{postingId}
	</delete>
	
	<select id="MaxIdSQL" resultType="String">
		SELECT max(postingId) AS postingId FROM posting
	</select>

</mapper>